force-app/main/default/main/default/flows/Send_Email_for_booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Booked_email</name>
        <label>Send Booked email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>User.Booking_Mail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>isInserted</name>
        <label>isInserted</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bookEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingMail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booked_email</targetReference>
            </connector>
            <label>bookEmail</label>
        </rules>
    </decisions>
    <formulas>
        <name>BookingMail</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Payment__c}</expression>
    </formulas>
    <interviewLabel>Send Email for booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email for booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isInserted</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
